.internal-portfolio {
   background: url("../img/about/bg-about.jpg") no-repeat center;
   background-size: cover;
}

.quote-portfolio {
  padding: 60px;
  margin: 0 auto;
  color: #302D3D;
  max-width: 600px;
}

.quote-portfolio p {
  text-align: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 18px;
  line-height: 25px;
  font-style: italic;
  margin-bottom: 20px;
}

.quote-portfolio cite {
  font-size: 18px;
  font-weight: bold;
  float: right;
  font-style: normal;
}

/* Responsive Slides */

.rslides, .rslides-portfolio {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0;
}

.rslides li, .rslides-portfolio li {
  -webkit-backface-visibility: hidden;
  position: absolute;
  display: none;
  width: 100%;
  left: 0;
  top: 0;
}

.rslides li:first-child, .rslides-portfolio li:first-child {
  position: relative;
  display: block;
  float: left;
}

.rslides img, .rslides-portfolio img {
  display: block;
  height: auto;
  width: 100%;
  border: 0;
}

.rslides_tabs {
  text-align: center;
  margin-top: 14px;
}

.rslides_tabs li {
  display: inline;
  margin: 0 3px;  
}

.rslides_tabs li a {
  display: inline-block;
   width: 12px;
   height: 12px;
   background: #262437;
   color: #262437;
   border-radius: 6px;
   overflow: hidden;
}

.rslides_here a {
  background: #6E8FC6 !important;
  color: #6E8FC6 !important;
}