/* Style for tablet */
@media only screen and (min-width: 768px) and (max-width: 959px) {
  /* Introduction */

	.introduction {
    margin-top: 70px;
  }

  /* Internal Introduction */

  .introduction-internal {
    margin-top: 70px;
  }

  /* Quality */

  .quality:after {
    display: none;
  }

  .quality-list li {
    text-align: center;
    padding: 0 10px;
  }

  .quality-call {
    padding: 20px;
  }

  /* Footer */

  .footer-media ul li {
    margin-right: 6px;
  }

  .footer-media ul li a img {
    background: #6E8FC6;
    max-width: 40px;
    max-height: 40px;
  }

  /* Products Page */

  .product-item h2 {
    top: -145px;
  }

  .product-icon {
    background: #302D3D;
    padding: 72.5px 0;
  }

  .product-info p {
    font-size: 14px;
    line-height: 20px;
    padding: 25px 30px;
    height: 136px;
  }

  .product-info ul li {
    font-size: 14px;
    float: left;
    width: 181px;
    height: 42px;
    text-align: center;
    padding-top: 12px;
  }

  .product-icon img {
    max-width: 140px;
    width: auto;
  }
}

/* Style for smartphone */

@media only screen and (max-width: 767px) {
  .menu-active {
    border-color: #6E8FC6 !important;
  }

  /* Header */
  .header {
    position: relative;
    padding-bottom: 0;
  }

  .header img {
    margin: 0 auto;
    margin-bottom: 20px;
  }

  .header-menu {
    text-align: center;
  }

  .header-menu ul li {
    margin: 5px;
  }

  .header-menu ul li a {
    width: 136px;
    display: block;
    float: left;
    border: 2px solid #CCD8DA;
    /* border-radius: 10px 20px; */
  }

  .header-menu ul li a:hover {
    border: 2px solid #6E8FC6;
  }

  /* Call */

  .call {
    padding-top: 15px;
  }

  /* Introduction */

  .introduction {
    margin: 0;
    padding-top: 43px;
    background: url("../img/bg-responsive.jpg") no-repeat center;
    background-size: cover;
  }

  .introduction h1 {
    font-size: 36px;
    line-height: 42px;
  }

  .quote-external {
    margin-bottom: 20px; 
  }

  /* Internal Introduction */

  .introduction-internal {
    margin-top: 0;
  }

  /* Quality */

  .quality:after {
    display: none;
  }

  .quality-call {
    padding: 0;
  }

  /* Footer */

  .footer {
    padding: 40px 40px 20px;
  }

  .copy {
    width: 100%;
    padding: 20px 0 0 0;
    background: #6E8FC6;
    color: #302D3D;
  }

  /* About Page */

  .mission-about p {
    padding-right: 0;
  }

  .mission-about p {
    font-size: 14px;
    line-height: 20px;
  }

  .mission-about ul li {
    font-size: 14px;
    line-height: 20px;
  }

  /* Products Page */

  .product-item h2 {
    font-size: 25px;
    top: -94px;
  }

  .product-icon {
    background: #302D3D;
    padding: 55px 0;
  }

  .product-info p {
    font-size: 14px;
    line-height: 20px;
    padding: 25px 25px;
    height: 150px;
  }

  .product-info ul li {
    font-size: 14px;
    float: left;
    width: 149px;
    height: 42px;
    text-align: center;
    padding-top: 12px;
  }

  .product-icon img {
    max-width: 140px;
    width: auto;
  }

  .budget-form {
    padding-right: 0;
  }

  .budget-data ul {
    width: 100%;
  }

  .budget-data {
    padding-top: 40px;
  }

  /* Portfolio Page */

  .quote-portfolio {
    padding: 40px 0 60px 0;
  }

  /* Contact Page */

  .contact-form {
    padding-right: 0;
  }

  .contact-data {
    padding-top: 40px;
  }
}